.main-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .main-container {
        margin-top: 60px;
    }
}

.pub {
    width: 10%;
}

.event-width-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 11px;
    margin: 10px 0;
}

.events-container {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.event-container {
    margin-bottom: 10px;
}

.event-parameters {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.event-date-key-label {
    font-weight: bold;
}

.ant-card {
    width: 1000px;
}

@media screen and (max-width: 1920px) {
    .ant-card {
        width: 800px;
    }
}

@media screen and (max-width: 1024px) {
    .ant-card {
        width: 500px;
    }
}

@media screen and (max-width: 750px) {
    .ant-card {
        width: 300px;
    }
}
