.main-container {
    display: flex;
    justify-content: space-around;
}

.pub {
    width: 10%;
}

.event-width-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 11px;
    margin: 10px 0;
}

.events-container {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.event-container{
    margin-bottom: 10px;
}

.event-parameters {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.event-date-key-label {
    font-weight: bold;
}